<footer class="footer">
    <div class="footer-container layout">
        <div class="col">
            <a href="../home">
                <img src="/assets/images/logo-blanco.png" style="width: 150px;" alt="MUEBLES TRONCOSO">
            </a>
        </div>
        <div class="col">
            <h4>DIRECCIÓN</h4>
            <p>UTL</p>
        </div>
        <div class="col">
            <h4>CONTACTO</h4>
            <p>Tel. 479 145 1392</p>
            <p>contacto muebles-troncoso.com</p>
        </div>
    </div>
</footer>