.buscador-usuario {
  width: 100%;
  max-width: 300px;
}

.buscador-usuario input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
}

.buscador-usuario input:focus {
  outline: none;
  border-color: #1e90ff;
}