<div class="Home">
    <div class="Home-banner">
        <div class="item">
            <img src="/assets/images/banner.webp" alt="MUEBLES TRONCOSO">
        </div>
    </div>
    <div class="Home-colecciones">
        <div class="Home-colecciones-container layout">
        <ofertas-component></ofertas-component>
          <p>Encuentra el mueble de tus sueños</p>
          
          <div class="flex" id="carrousel-colecciones-arrows">
            <h2 class="title">CATALOGO</h2>
          </div>
          <div class="carrousel-colecciones">
            <div *ngFor="let producto of productos" class="item">
                <a [routerLink]="['/detalle', producto.idProducto]">
                    <div class="img">
                        <img style="width: 270px !important; height: 270px !important;" [src]="producto.imagen" alt="{{ producto.nombreProducto }}">
                    </div>
                    <h3>{{ producto.nombreProducto }}</h3>
                </a>
            </div>
        </div>
         
        </div>
      </div>
      
      
    <div class="Home-renta" style="background: url('/assets/images/interesa.jpg')">
        <div class="col">
            <p>Te interesan nuestros muebles</p>
            <a href="/catalogo">Ver catalogo</a>
        </div>
    </div>
    <div class="Home-esenciales">
        <div class="Home-esenciales-container">
            <div class="txt">
                <h2 class="title">INCREIBLE</h2>
                <p>Puedes ver toda nuestra variedad de muebles</p>
            </div>
            <div class="blocks">
                <a href="/catalogo" class="blocks-item">
                    <img src="/assets/images/reacuadro2.jpg" alt="MUEBLES TRONCOSO">
                    <div class="text">
                        <h3>SOFÁS</h3>
                        <p>Confort y estilo en cada rincón, perfectos para crear el espacio acogedor que tu hogar merece.</p>
                    </div>
                </a>
                <a href="/catalogo" class="blocks-item">
                    <img src="/assets/images/recuadro3.jpg" alt="MUEBLES TRONCOSO">
                    <div class="text">
                        <h3>MESAS DE COMEDOR</h3>
                        <p>El corazón de tu comedor, donde cada comida se convierte en una experiencia memorable.</p>
                    </div>
                </a>
                <a href="/catalogo" class="blocks-item">
                    <img src="/assets/images/recuadros1.jpg" alt="MUEBLES TRONCOSO">
                    <div class="text">
                        <h3>CAMAS</h3>
                        <p>Descansa como te mereces, con la comodidad y elegancia que sólo nuestras camas pueden ofrecer.</p>
                    </div>
                </a>
                <a href="/catalogo" class="blocks-item">
                    <img src="/assets/images/recuadro5.jpg" alt="MUEBLES TRONCOSO">
                    <div class="text">
                        <h3>ARMARIO</h3>
                        <p>Organización y estilo en un solo lugar, para que encuentres todo lo que necesitas al instante.</p>
                    </div>
                </a>
                <a href="/catalogo" class="blocks-item">
                    <img src="/assets/images/reacuadro4.jpg" alt="MUEBLES TRONCOSO">
                    <div class="text">
                        <h3>ESCRITORIO</h3>
                        <p>Tu espacio de trabajo, diseñado para inspirarte y ayudarte a alcanzar tus metas.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="Home-suscribete">
        <div class="Home-suscribete-container">
            <h2 class="title">CONTACTANOS</h2>
            <p>Tienes alguna duda sobre los muebles? <br> no dudes en contactarnos.</p>
            <div class="blocks">
                <div class="col">
                    <img src="/assets/images/interesa.jpg" alt="MUEBLES TRONCOSO">
                </div>
                <div class="col">
                    <form action="">
                        <div class="input">
                            <label for="Nombre">Nombre</label>
                            <input type="text" id="Nombre" placeholder="Ingresa tu nombre">
                        </div>
                        <div class="input">
                            <label for="correo">Correo</label>
                            <input type="text" id="correo" placeholder="Ingresa tu correo eléctronico">
                        </div>
                        <div class="input">
                            <label for="Telefono">Telefono</label>
                            <input type="text" id="Telefono" placeholder="Ingresa tu teléfono móvil">
                        </div>
                        <div class="input">
                            <label for="Mensaje">Mensaje</label>
                            <textarea placeholder="Escribe tu duda aquí"></textarea>
                        </div>
                        <button>ENVIAR</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>