<div class="admin">
  <div class="admin-contenido">
    <div class="admin-contenido-imagen">
      <img src="/assets/images/prb-logo.png" alt="">
    </div>
    <div class="text-center pb-2">
      <h3>Recupera tu contraseña</h3>
    </div>
    <div class="admin-contenido-form">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="input">
          <label for="correo">Correo</label>
          <input type="email" formControlName="correo" id="correo" required>
        </div>

        

        <div *ngIf="successMessage" class="success-message">
          {{ successMessage }}
        </div>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <div class="boton">
          <button type="submit" [disabled]="isButtonDisabled">
            {{ isButtonDisabled ? 'Esperando...' : 'Enviar' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
