<header class="header">
  <div class="header-container layout">
      <span id="btnMenu" class="icon icon-menu"></span>
      <div class="logo">
          <a href="/" class="logo-container">
              <img src="/assets/images/prb-logo.png" alt="MUEBLES TRONCOSO">
          </a>
      </div>
      <nav class="menu">
          <span class="icon icon-cerrar" id="cerrarMenu"></span>
          <ul style="margin-bottom: 0 !important;">
              <li>
                  <a href="/">INICIO</a>
              </li>
              <li>
                  <a href="/catalogo">CATÁLOGO</a>
              </li>
              <li>
                  <a href="/contacto">CONTACTO</a>
              </li>
              <ng-container *ngIf="user; else noUser">
                <li class="dropdown" (click)="toggleDropdown($event)">
                  <a href="#" class="dropdown-toggle">
                    <i class="fa-solid fa-user"></i>
                    <span class="user-name">{{ user.nombreUsuario }}</span>
                  </a>
                  <div class="dropdown-menu" [class.show]="isDropdownOpen">
                    <ng-container *ngIf="isAdmin">
                      <a class="dropdown-item"  [routerLink]="['/admin/inicio']">Administración</a>
                    </ng-container>
                    <a [routerLink]="['/perfil', user.idUsuario]" class="dropdown-item">Ver mi perfil</a>
                    <a href="#" class="dropdown-item" (click)="logout()">Cerrar sesión</a>
                  </div>
                </li>
              </ng-container>
              <ng-template #noUser>
                  <li style="color: black;">
                      <a href="/login" class="iniciar-sesion"><span><i class="fa-duotone fa-solid fa-right-to-bracket"></i></span> <span style="margin-left: 5px;">INICIAR SESIÓN</span></a>
                  </li>
              </ng-template>
              <li style="width: 30px;">
                  <span id="buscador" class="fas fa-search" (click)="toggleBuscador()"></span>
              </li>
              <li style="width: 30px;">
                  <span id="carrito" class="fas fa-shopping-cart" (click)="toggleBag()"></span>
              </li>
          </ul>
      </nav>
  </div>

  <!-- Buscador -->
  <div>
    <app-buscador [isVisible]="isBuscadorVisible"></app-buscador>
  </div>
</header>
