<div class="Bag">
    <div class="Bag-container layout">
      <div class="Bag-productos" style="padding: 70px 20px 0 !important;">
        <div class="blocks" style="height: unset !important;" *ngFor="let producto of carrito">
          <div class="blocks-item">
            <div class="Producto">
              <div class="img">
                <img [src]="producto.imagen" [alt]="producto.nombre">
              </div>
              <div class="bot" style="width: 100%;">
                <div class="col">
                  <h5>{{ producto.nombre }}</h5>
                  <span class="price desc">${{ producto.precio | number:'1.2-2' }}</span>
                  <span>Cantidad: {{ producto.cantidad }}</span>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Bag-data">
        <div class="Bag-data-table">
          <div class="col">
            <h1 class="title">CARRITO</h1>
            <p>{{ carrito.length }}</p>
          </div>
          <div class="col">
            <div class="campo">
              <span>Subtotal:</span>
              <span class="p">${{ subtotal | number:'1.2-2' }}</span>
            </div>
          </div>
          <div class="col">
            <div class="campo total">
              <span>TOTAL:</span>
              <span class="p">${{ total | number:'1.2-2' }}</span>
            </div>
          </div>
          <a href="/envio">PROCEDER AL PEDIDO</a>
        </div>
      </div>
    </div>
  </div>
  